header {
  background-color: #000000;
  color: rgb(255, 183, 0);
  text-align: center;
  padding: 10px;
}
body{
  background-color: rgb(255, 183, 0);
}

form label {
    display: block;
    margin-top: 10px;
  }
.form{
    /* box-shadow: rgba(49, 49, 192, 0.2) 0px 7px 29px 0px; */
    background:linear-gradient(45deg,rgba(255, 0, 0, 0.5),rgba(0, 0, 0, 0.15)) ;
  box-shadow: 0 8px 8px -4px rgb(0, 0, 0);
    text-align:center;
    /* top: 80px; */
    position: relative;
    width:60%;
    height:400px;
    /* background:#FFF; */
    margin:40px auto;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  float: right;
  padding: 10px;
}
form button[type="submit"],
form button[type="reset"] {
  background-color:rgb(255, 200, 0);
  color: #000000;
  border: 20px solid rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
form button[type="submit"]:hover,
form button[type="reset"]:hover {
  background-color: #ffffff;
}
button a{
  text-decoration: none;
  color: #000000;
}
